.profile img {
    max-width: 265px;
    margin: 0 auto;
    display: block;
}

.profile .personal-info {
    vertical-align: top;
    padding: 10px;
    margin: 0 auto;
    color: #234465;
    width: 50%;
    text-align: center;
}

.profile p {
    text-decoration: underline;
    margin-bottom: 1%;
}